.button-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
   
}

.button-container button {
    border-radius: 10%;
    background-color: #1FD0FF;
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
    
}