.employees-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    
    
}

.employees-container img{
    border-radius: 50%;
    object-fit: cover;
    width: 4rem;
    margin-right: 1rem;
}

.employees-container p:not(.name){
    margin-top: 0.3rem;
}

.columns {
    /* flex-direction: column; */
    /* border: solid 2px; */
}

.mail {
    opacity: 0.4;
    font-size: 0.8rem;
}

.age {
    opacity: 0.4;
    font-size: 0.8rem;
}